# Archivos y carpetas de Dart/Flutter
.dart_tool/
.build/
.melos/

# Dependencias y caché
pubspec.lock
.packages
.podspec
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# Archivos de compilación y generados
*.iml
*.lock
*.pyc
*.pyo
*.swp
*.DS_Store
*.idea/
*.vscode/
*.metadata
android/app/debug.keystore

# Archivos y carpetas de Flutter específicos de plataformas
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/.generated/

# Archivos de configuración de IDE
.idea/
*.ipr
*.iws
*.iml
*.launch

# Archivos específicos de VS Code
.vscode/
*.code-workspace

# Archivos de compilación nativos
android/.cxx/
android/gradle/
android/local.properties
android/app/google-services.json
android/app/src/debug/
android/app/src/profile/
android/app/src/release/

# Archivos de configuración de Firebase (si se usan)
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# Archivos de logs y caché del sistema
pubspec.lock
*.log
*.bak
*.tmp

# Archivos de depuración
debug.log
error.log